title {
    color: silver;
}
body {
    font-family: 'Press Start 2P', 'Courier New', monospace;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: silver;
    background-color:rgb(6, 6, 32);
}

header {
    background-color: rgb(6, 6, 32);
    padding: 20px;
    text-align: center;
    border-bottom: 4px solid #ffffff;
}

section {
    padding: 20px;
    margin: 20px;
    background-color: rgba(5, 5, 22, 0.781);
    border: 4px solid #ffffff;
}

h1, h2, h3 {
    color: silver;
    text-transform: uppercase;
    letter-spacing: 2px;
}

ul {
    padding: 0;
    list-style-type: none;
}

li {
    margin-bottom: 10px;
    padding: 10px;
    border: 2px solid #ffffff;
    background-color: rgb(16, 25, 34);
}

form {
    display: flex;
    flex-direction: column;
    background-color: #F8F8FF;
    padding: 20px;
    border: 4px solid rgb(14, 32, 56);
}

label {
    margin-bottom: 5px;
    color: #ffffff;
}

input, textarea {
    margin-bottom: 10px;
    padding: 10px;
    border: 2px solid #ffffff;
    border-radius: 0;
    background-color: #FFFFFF;
    color: silver;
    font-family: 'Courier New', monospace;
}

button {
    padding: 10px;
    background-color: #0e0c2c;
    color: #FFFFFF;
    border: none;
    font-family: 'Press Start 2P', 'Courier New', monospace;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s;
}

button:hover {
    background-color: #0f0724;
    transform: scale(1.05);
}

footer {
    background-color: rgb(6, 6, 32);
    text-align: center;
    padding: 10px;
    width: 100%;
    bottom: 0;
    border-top: 4px solid #ffffff;
}

a {
    color: silver;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}